@import	"colores";

@import "fonts";

body {
	background-color: $colorBg;
}
								/*  ANIMACIONES (DURACION) */

.animate__fadeIn {
  display: inline-block;
  margin: 0 0.5rem;
  animation-duration: 2s;	
 }


.animatedLorem {
	margin-top: 100px;
	animation-duration: 4s;
}

.animate__pulse {
	animation-duration: 4s;
}

								/* TERMINA ANIMACIONES (DURACION) */

header {
	background-color: #CC6AF0;
	color: #fff;
	font-family: $fontRobo;
	text-transform: uppercase;
	font-size: 20px;
}

.BlHea--img{
	padding-bottom: 10px;
	width: 400px;
}

.logoImg {
		width: 400px;
	}
 

a {
	color: #fff;
	z-index: 1111;
}

a:hover {
	color: #DFBDF4;
	}

.BlMain--img {
  margin-bottom: 120px;
}

.noPadding {
	padding-right: 0px;
	padding-left: 0px;
}
	
h1, .BlMain--Titles {
	text-transform: uppercase;
	margin: 80px 50px;
	font-size:30px;
	color: $colorText;
	font-weight: bold; 
}

.Bl__parag {
	font-size: $tamañoText - 5px;
	font-family: $fontRobo;
	color: $colorText;
	margin-top: 100px;
	margin-bottom: 200px;
	margin-left: 100px;
	margin-right:100px;
	text-align: justify !important;
}

								/* ACA EXTEND + Operaciones */

.Bl__parag--Sect {
	@extend .Bl__parag;
	font-size: $tamañoText - 5px;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right:50px;
}

								/* MIXIN + OPERACIONES */

@mixin texto1 {
	font-size: $tamañoText;
	font-family: $fontRobo;
	color: $colorText;
	text-align: justify;
}

#BlMain--Ref {
	@include texto1;
	font-size: $tamañoText - 10px;
	margin: 60px 40px;
	
}

								/* MIXIN + OPERACIONES */

.__PersonasRef {
	@include texto1; 
	font-size: $tamañoText - 12px;
	text-align: right; 
	font-family: $fontSansi;
	font-style: italic;
	font-weight: bold;
	margin: 0px 20px;
}

								/* BOTON HACIA ARRIBA */

#arrow {
	 position: fixed;
	 bottom: 5px;
	 right: 0px;
	 border: 2px hidden;
	 width: 60px;
	 z-index: 1111;
	}
	
#arrow:hover {
 	background-color: #CC6AF0;
 	width: 65px;
 }
								/*FORMULARIO */

form {
	font-family: $fontRobo;
	color: $colorText;
	font-size: 25px;
}

 /* BTN IMPUT  FORM*/

 .btn-primary {
 	position: relative;
 	left: 20px;
    color: #fff;
    background-color: #CC6AF0;
    border-color: #CC6AF0;
}

.btn-primary:hover {
    	border-color: #CC6AF0;
    	background-color: #D86FFF;
    }

.Bl__About {
	margin: 180px 100px;
	text-align: justify;
}

								/* SERVICIOS*/


.card {
  border: none;
}
.card-img {
	position: absolute;
	bottom: 90px;
  border-radius: 0;

}

.vgr-cards {
	margin: 100px 0px;

  .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;

    &:nth-child(even) .card-img-body {
      order: 2;
    }

    &:nth-child(even) .card-body {
      padding-left: 0;
      padding-right: 1.25rem; 
    }
    
    @media (max-width: 576px) {
      display: block;
    }
    
  }

  .card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
    
    @media (max-width: 576px) {
      width: 100%;
      height: 200px;
          margin-bottom: 20px;
    }
    
  }
  
  .card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    
    @media (max-width: 1140px) {
 
    margin: 0;
    transform: translateY(25px);
    width: 100%;
    height: 135px;	
    }
    
  }

  .card-body {
    flex: 2;
    padding: 0 0 0 1.25rem;
    
    @media (max-width: 576px) {
      padding: 0;
    }
    
  }
}


.flexServi {
	display: flex;
	justify-content: center;
	align-items: center;
}

								/*	FOOTER FROM EXTERNAL WEB*/

footer {
	color: #fff;
	background-image: linear-gradient( to left, #6AC1F0, #CC6AF0);
	margin-top:100px;
}

h2 {
	font-size: 27px;
}

footer a {
  color: #fff;
  font-size: 14px;
  
}



.footer-middle {
  padding-top: 2em;
  color: white;
}

#copyright {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */


.social-circle li img {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}



.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/*MEDIA QUERIES*/

@media (max-width: 575.98px) { 
	.imgServi{
		width: 350px;
		height: 280px;
		}

	/*Servicios*/	h1, .BlMain--Titles {
	text-transform: uppercase;
	margin: 40px 25px;
	font-size:15px;
	color: $colorText;
	font-weight: bold; 
}
/*Texto general */.Bl__parag {
	font-size: $tamañoText - 18px;
	font-family: $fontRobo;
	color: $colorText;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 25px;
	margin-right:25px;
	text-align: justify !important;
}
.Bl__parag--Sect {
	font-size: $tamañoText - 20px;
	margin-bottom: 50px;
}
#BlMain--Ref {
	@include texto1;
	font-size: $tamañoText - 20px;
	margin: 0px 20px;
	background-color: #EDD8F8;
	
}
.__PersonasRef {
	@include texto1; 
	font-size: $tamañoText - 20px;
	text-align: right; 
	font-family: $fontSansi;
	font-style: italic;
	font-weight: bold;
	margin: 0px 20px;
}

/*Texto footer */

h2 {
	font-size: 15px;
}
	
	}


								/*IMAGENES EN LINEA */

@media (min-width: 768px) {
.imgInLine .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.imgInLine .card img {
border-radius: 2px; }

								/*BANER CON DOS IMAGENES*/

.banner2 {
	margin-top: 150px;
	margin-bottom: 150px;
	height: 370px;
    width: 100%;
}

@media (max-width: 575.98px) {  
.banner2 {
    margin-top: 150px;
    margin-bottom: 150px;
    height: 300px;
    width: 100%;
    }
}

								/*4 IMG EN LINEA*/


#imgBrows {
	display: flex;
	flex-direction: row;
	
}

.imgx {
	width: 275px;
	padding: 10px;
	margin: 20px 14px;
}

								/* Boton de citas*/


.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

.btn-primary2 {
	position: relative;
    bottom: 450px;
    left: 440px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
}


								/*MediasQ*/
/*extrasmall*/
@media (max-width: 575.98px) { 

/*LOGO*/
	.logoImg {
		width: 200px;
	}

	/*BOTON DE CITAS*/
	.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

	.btn-primary2 {
	font-size: 10px;
	position: relative;
    bottom: 390px;
    left: 60px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
    z-index: 1111;
} /* TERMINA BOTON DE CITAS SMALL*/


.Bl__About {
    margin: 150px 50px;
}

.wow {
	animation-name: none !important; visibility: visible !important;
}

	} 
	.imgServi{
	width: 350px;
	height: 280px;
		}


/*TEXTO NAV*/ 
nav a {
	font-size: 18px;
}

@media (min-width: 576px) /*SMALL*/ { 

/*LOGO*/
	.logoImg {
		width: 200px;
	}

	/*BOTON DE CITAS*/
	.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

	.btn-primary2 {
	font-size: 10px;
	position: relative;
    bottom: 435px;
    left: 140px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
    z-index: 1111;
}/* TERMINA BOTON DE CITAS SMALL*/


.Bl__About {
    margin: 150px 50px;
}

.avatarAbout {
    position: relative;
    display: block;
}

.wow {
	animation-name: none !important; visibility: visible !important;
}
	} 

@media (min-width: 768px) /*MEDIUM*/ { 
/*LOGO*/
	.logoImg {
		width: 350px;
	}

/*BOTON DE CITAS*/
	.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

	.btn-primary2 {
	font-size: 12px;
	position: relative;
    bottom: 440px;
    left: 210px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
} /* TERMINA BOTON DE CITAS MEDIUM*/

/*IMG EN LINEA*/
.imgInLine .col-md-3 {
float: left;
width: 25%;
max-width: 100%; }

/*MARGIN DE IMG */
.imgx {
    width: 275px;
    padding: 10px;
    margin: 20px 7px;

}

/* LOGO */
.BlHea--img{
	padding-bottom: 10px;
	width: 500px;
}

	}


@media (min-width: 992px) /*LARGE*/ { 
/*BOTON DE CITAS*/
	.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

	.btn-primary2 {
	position: relative;
    bottom: 445px;
    left: 300px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
}/* TERMINA BOTON DE CITAS LARGE*/

/*MARGIN DE IMG */
.imgx {
    width: 275px;
    padding: 10px;
    margin: 20px 7px;

}

	}

@media (min-width: 1200px) /*EXTRA LARGE*/ { 

.btn-primary2:hover {
	background-color: #D86FFF;
	color: #fff;
}

.btn-primary2 {
	position: relative;
    bottom: 450px;
    left: 440px;
    color: $colorHeader;
    background-color: transparent;
    background-image: none;
    border-color: $colorHeader;
}

	}


	/* Cards Referencias */

	.card {
	margin: 0 auto;
	border: none;
	background-color: #FCF7FF;
}
.card .carousel-item {
	min-height: 190px;
}
.card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #CC6AF0;
	min-height:175px;
	padding: 15px;
}
.card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
}
.card .carousel-caption .col-sm-9 {
	text-align: left;
}
.card .carousel-control-prev, .card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #CC6AF0;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.carousel-control-prev {
	left: 40%;
	top: 110%;
}
.carousel-control-next {
	right: 40%;
	top: 110%;
}
.midline {
	width: 60px;
	border-top: 1px solid #CC6AF0;
}
.carousel-caption h2 {
	font-size: 14px;
	color: $colorText;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #cd3a54;
}

small {
	color: $colorText;
}

 @media (min-width: 320px) and (max-width: 575px) {

.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
}
@media (min-width: 767px) and (max-width: 991px) {
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}

 								/* Avatar Aboutme*/

.avatarAbout {
	display: inline-block;
	position: relative;
	bottom: 50px;
	left: 50px; 
	border: 3px solid #CC6AF0;
 	border-radius: 50%;
}

 @media (min-width: 320px) and (max-width: 575px) { 

.avatarAbout {
    display: inline-block;
    position: relative;
    bottom:0px;
    left: 0px;
    margin-bottom: 20px;
        
}
	.Bl__About {
		margin: 80px 50px;
		text-align: justify;
	}
 }
